.error {
  &__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__hero-text {
    font-size: 25rem;
    font-weight: 900;
    background: url('https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80')
      top no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    margin-bottom: -7rem;
  }

  &__status {
    display: block;
  }

  &__message {
    display: block;
    margin-bottom: 3rem;
  }

  &__home-btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: 200;
    font-size: 2rem;
    transition: all 0.2s;
    border: 1px solid $color-white;
    background-color: $color-primary;
    color: $color-white;
    &:hover {
      background-color: $color-primary-light;
      color: $color-white;
      border: 1px solid $color-white;
    }
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:active,
    &:focus {
      border: 1px $color-secondary;
      outline: none;
    }
  }
}
