@media (max-width: 1024px) {
  .navbar {
    padding: 0 1rem !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__menu {
      margin: 0 !important;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $color-primary;
  display: inline-flex;
  padding: 0 20rem;
  font-weight: 200;
  color: white;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
  &__logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__logo-img {
    display: inline-flex;
    height: 4rem;
    fill: white;
    margin-right: 1rem;
  }
  &__logo-text {
    font-weight: 200;
  }
  &__menu {
    margin-left: auto;
    height: 100%;
  }
  &__button {
    display: inline-flex;
    background-color: transparent;
    border: none;
    height: 100%;
  }
  &__link {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    transition: all 0.2s;
    font-size: 1.6rem;
    font-weight: 200;
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover {
      background-color: $color-primary-light;
    }
  }
  &__dropdown {
    display: inline-flex;
    position: relative;
    height: 100%;
    min-width: 8.5rem;
    &:hover &-content {
      display: block;
    }
    &:hover &-button {
      background-color: $color-primary-light;
    }
    &-button {
      padding: 1.5rem;
      background-color: transparent;
      color: white;
      text-align: left;
      border: none;
      font-size: 1.6rem;
      font-weight: 200;
      width: 100%;
      text-transform: capitalize;
      &:hover {
        background-color: $color-primary-light;
      }
      &:link,
      &:active {
        text-decoration: none;
      }
    }
    &-content {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }
    &-link {
      padding: 1.5rem;
      width: 100%;
      background-color: $color-primary;
      &:link,
      &:visited {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 200;
      }
      &:hover {
        background-color: $color-primary-light;
      }
    }
  }
}
