@media (max-width: 84rem) {
  .navbar {
    padding: 0 1rem!important;
  }
}

@media (max-width: 54.5rem) {
  .navbar {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__menu {
      margin: 0 !important;
    }
  }
}

.navbar {
  width: 100%;
  background-color: $color-black;
  display: inline-flex;
  padding: 0 20rem;
  font-weight: 200;
  color: white;
  &__logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__logo-img {
    display: inline-flex;
    height: 4rem;
    fill: white;
    margin-right: 1rem;
  }
  &__logo-text {
    font-weight: 200;
  }
  &__menu {
    margin-left: auto;
    height: 100%;
  }
  &__button {
    display: inline-flex;
    background-color: transparent;
    border: none;
    height: 100%;
  }
  &__link {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    transition: all 0.2s;
    font-size: 1.6rem;
    font-weight: 200;
    &:link, &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover {
      background-color: lighten($color-black, 20%);
    }
  }
  &__dropdown {
    display: inline-flex;
    position: relative;
    height: 100%;
    min-width: 8.5rem;
    &:hover &-content {
      display: block;
    }
    &:hover &-button {
      background-color: lighten($color-black, 20%);
    }
    &-button {
      padding: 1.5rem;
      background-color: transparent;
      color: white;
      text-align: left;
      border: none;
      font-size: 1.6rem;
      font-weight: 200;
      width: 100%;
      &:hover {
        background-color: lighten($color-black, 20%);
      }
      &:link, &:active {
        text-decoration: none;
      }
    }
    &-content {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
    }
    &-link {
      padding: 1.5rem;
      width: 100%; 
      background-color: $color-black;
      &:link, &:visited {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 200; 
      }
      &:hover {
        background-color:  lighten($color-black, 20%);
      }
    }
  }
}