.social-card {
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  border-radius: $default-border-radius;
  position: relative;
}
.social-card__avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1.5rem;
}
.social-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social-card__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.social-card__message {
  width: 100%;
}

.social-card__avatar-image {
  border-radius: 50%;
  width: 5rem;
}
.social-card__name {
  font-weight: 400;
  font-size: 1.6rem;
  color: black;
  margin-right: 0.3rem;
}
.social-card__handle-date {
  color: #666;
  font-weight: 100;
  font-size: 1.5rem;
}
.social-card__actions {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}
.social-card__actions :not(:last-child) {
  margin-right: 4rem;
}
.social-card__actions > * {
  transition: all 0.2s;
}
.social-card__actions > *:hover {
  transform: scale(1.1);
}
.rt-active {
  color: #4ece88;
}
.like-active {
  color: #e0265e;
}
.stat {
  font-family: 'proxima-nova';
  margin-left: 1rem;
  font-weight: 100;
}
.social-card__comments {
  position: absolute;
  top: 100%;
  left: 0%;
}